<ion-view view-title="Contactos Chile">

      <ion-content class="padding">

        <div class="list card">

          <div  loading-msg class="item item-avatar">
            <img src="img/contacto.jpg">
            <h2>Acerca de la Aplicación</h2>
            <p>Enero, 2016</p>
          </div>

        <div class="item item-body">
          <p><img src="img/agenda-whatsapp.jpg" alt="" style="float:left;" height="300" width="420" /> 
          	<p>Con esta aplicación usted podrá cargar todos los contactos guardados en el SmartPhone como sea que estén guardados. La finalidad de la aplicación es que usted no tenga que editar uno por uno los contactos guardados, sino que este programa lo hará por usted.</p> <p>Desde el 6 de Febrero en Chile la nueva forma de marcar será como la que se especifica abajo</p>
			
			<p>Un ejemplo básico sería:</p>

			<p>Juan Perez: 5117754 -> Juan Perez: +5695117754</p>
			<p>Pedro Perez: 023465483 -> Pedro Perez: +56223465485</p>
			<p>Gustavo: +56954321278 -> Gustavo: +56954321278</p>
			<p>Policía: 133 -> Policía: 133</p>

			<p>Aplicación funcional para Chile. Además con soporte para actualización de Febrero 2016 para números en Santiago.</p>
          </p>
        </div>

        

        </div>

      </ion-content>

</ion-view>