<ion-view view-title="Contactos Chile">

      <ion-content class="padding">

        <div class="list card">

          <div class="item item-avatar">
            <img src="img/contacto.jpg">
            <h2>Acerca del Desarrollador</h2>
            <p>Enero, 2016</p>
          </div>

        <div class="item item-body">
          <p><img src="img/smiley1.jpg" alt="" style="float:left;" height="300" width="300" /> 
          	<p>Contacto:</p> <p>zeevtorrestal@gmail.com</p>
			
			<p>Valore esta aplicación según la usabilidad que le presentó.</p>


			<n>Recuerde dejar comentarios en donde bajó la app.</n>
          </p>
        </div>

        

        </div>

      </ion-content>

</ion-view>